<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WorkflowEngineSOASoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WorkflowEngineSOASoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BizAgiRI110x/WebServices/WorkflowEngineSOA.asmx"
                binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap"
                contract="WorkFlowEngine.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
        </client>
    </system.serviceModel>
</configuration>
